.status-bar {
  grid-area status-bar
  display flex
  padding 0 4px
  background white
  border-top 1px solid #d3d6d9
  .pt-dark & {
    background #3c4b58
  }

  p {
    margin 0
    line-height @height
  }

  .left {
    display flex
  }

  .right {
    margin-left auto
  }

  .item {
    padding 0 8px
  }

  .button {
    padding 0 8px
    cursor pointer
  }
}
