.editor-wrapper {
  font-family consolas, 'Microsoft Yahei', sans-serif
  padding 16px
  width 600px
  border 1px solid #ccc
  line-height 1.5
}

::selection {
  background #ff6033aa
}

.annotation.role {
  background #5ea7ae69
  border 1px solid #256bd2
  cursor pointer

  &:hover {
    background #5ea7ae
  }
}

.annotation.item {
  background #8bc34a
}
