.editor-wrapper {
  font-family consolas, 'Microsoft Yahei', sans-serif
  padding 16px
  width 600px
  border 1px solid #ccc
  line-height 1.5
  white-space pre-wrap
  letter-spacing 0.1em
}

::selection {
  background #ff6033aa
}

.annotation.role {
  background #9bb5dacc
  outline 2px solid #256bd2cc
  cursor pointer

  &:hover {
    background #5ea7ae
  }
}

.annotation.item {
  background #8bc34a
}

.annotation.highlight {
  outline 2px dashed #999
}
