.annotation-editor-view {
  .button-group {
    display flex
    align-items center
    > h3 {
      margin 0 8px
    }
  }

  .editor {
    font-size 16px
    font-family consolas, 'Microsoft Yahei', sans-serif
    padding 8px
    margin 8px
    border 1px solid #ccc

    ::selection {
      background #ffdcd4
    }
  }
}

.block {
  line-height 1.5
  white-space pre-wrap
  letter-spacing 0.15em

  .slot {
    &.selection {
      box-shadow rgba(158, 158, 158, 0.33) 1px 1px 3px 1.5px
      background #FFEB3B
    }
    &.highlight {
      outline 1.5px solid #f7957e
      outline-offset 0.5px
    }
  }
}
