.block .annotation {
  cursor pointer

  &[data-height="0"] {
    &:hover {
      outline 1px solid #666
    }

    &.selected
    &.selected:hover {
      box-shadow #616161 1px 1px 4px 0.5px
      background #ffe500
    }
  }

  &[data-height="1"] {
    &:hover {
      outline 1px dashed #666
      outline-offset 6px
    }

    &.selected
    &.selected:hover {
      box-shadow rgba(128, 128, 128, 0.3) 0px 0px 10px 3px
      background #fff9c5
    }
  }
}
