.block {
  .annotation {
    cursor pointer
    &:hover {
      outline 2px dashed #666
    }
  }

  .annotation.role {
    background rgba(147, 180, 228, 0.7)
  }

  .annotation.item {
    background #8bc34a
  }

  .annotation.time {
    background #795548
    color white
  }

  .annotation.action {
    color #3F51B5
    font-weight bold
  }

  .annotation.selected
  .annotation.selected:hover {
    box-shadow rgba(0, 0, 0, 0.2) 0px 0px 10px 4px
    background #FFEB3B
    color black
  }
}
