.panel {
  > h2 {
    font-weight normal
    margin-bottom 4px
    padding-left 8px
  }
}

.annotation-detail-panel {
  .code {
    background #ccc
    padding 8px
    white-space pre
    line-height 1.3
    font-size 1.5rem
  }

  .code {
    > p {
      margin 0 0
    }

    .string {
      font-weight bold
      color #2b7e18
    }

    .number {
      color #0c38f9
    }
  }

  .accept-button {
    margin-left 16px
    font-size 14px
    background green
    color white
  }

  .deny-button {
    margin-left 4px
    font-size 14px
    background red
    color white
  }

  .edit-button {
    margin-left 4px
    font-size 14px
  }
}
