.panel {
  text-transform initial
  h2 {
    font-size 20px
    height 24px
    line-height @height
    font-weight normal
    margin 0
  }
}

.annotation-detail-panel {
  user-select none

  .code {
    white-space pre
    line-height 1.3
    font-size 18px
    margin 8px 0

    > p {
      margin 0 0
    }

    .string {
      font-weight bold
      color #2b7e18
      .pt-dark & {
        color #a5c261
      }
    }

    .number {
      color #0c38f9
      .pt-dark & {
        color #6897bb
      }
    }

    .reserved {
      color #666
    }
  }
}

.block.sparse {
  line-height 2
  > span {
    margin-left 6px
    &:first-child {
      margin-left 2px
    }
  }
}
