.panel-container {
  grid-area panel
  width 350px
  overflow-y auto
  height 100%
  padding-left 8px
  border-left #d2d6d9 1px solid

  .tab-header {
    outline none
    text-transform uppercase
  }

  .panel {
    text-transform initial
    .part-title {
      font-size 20px
      line-height 24px
      margin 0
    }

    .subtitle {
      font-size 18px
      line-height 24px
      margin 0
      font-weight normal
    }
  }
}
